/*
	Font Families are:
	DIN Pro:
		DINPro
		DINPro-Condensed
	Tisa Pro:
		tisaprobold
		tisaproitalicbold
		tisaproitalic
		tisapromedium
		tisaproitalicmedium
		tisaproregular
	Merriweather
*/
body, html{
	margin: 0px;
	color: rgb(32,32,32);
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
	min-height:100%;
	height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-filter: blur(0.000001px);

	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	will-change: transform;
	overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1{
	font-size: 60px;
	font-family: DINPro;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
}

h2{
	font-size: 38px;
	font-family: DINPro;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(48,48,48);
	margin: 5px 0px 5px 0px;
}

h3{
	font-size: 40px;
	font-family: DINPro;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
}

p{
	font-size: 17px;
	font-family: Merriweather;
	line-height: 28px;
}

.info{
	font-family: tisaproregular;
	font-size: 20px;
	margin: 4px 0px 4px 1px;
	color: rgb(100,100,100);
}

#titleCard{
	width: 30.3%;
	position: absolute;
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 40px;
	
    -moz-box-shadow: 0 0 60px #fff;
	-webkit-box-shadow: 0 0 60px #fff;
	box-shadow: 0px 0px 60px #fff;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 

	-webkit-font-smoothing: antialiased;
	-webkit-filter: blur(0.000001px);

	 -webkit-backface-visibility: hidden;
}


hr{
	height: 2px;
	color: rgb(64,64,64);
	background: rgb(190,190,190);
	border: 0px;
	margin: 18px 0px 28px 0px;
}

#titleMenu{
	height: 50px;
	width: 100%;
	margin-top: 32px;
	background-color: rgb(48,48,48);
	border: 1px solid rgb(48,48,48);
}

.button1{
	margin: 0px;
	float: left;
	width: 33.3333%;
	padding-top: 15px;
	padding-bottom: 10px;
	height: 25px;
	text-align: center;
	color: white;
	font-family: DINPro;
	font-weight: 400;
	text-align: center;
	background-color: rgb(48,48,48);
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
	
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
	
	cursor: pointer;
}

.button1:hover{
	color: rgb(32,32,32);
	background-color: white;
}

#particles-js{ 
	position:absolute; 
	width: 100%; 
	height: 99%; 
	background-color: #ffffff; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
} 
 
 
#menuButton{
	width: 45px;
	height: 40px;
	position: absolute;
	right: 65px;
	top: 50px;
	cursor: pointer;
}

#menu{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position:fixed;
	right: -250px;
	transform: translateX(0px);
	width: 250px;
	padding-left: 50px;
	height: 100%;
	background-color: rgb(254,254,254);
	transition: 0.5s;
	border-left: 1px solid rgb(200,200,200);
}

#menu.shift{
	transform: translateX(-250px);
}

.bar1, .bar2, .bar3{
	width: 35px;
	height: 5px;
	background-color: rgb(40,40,40);
	margin-left: 5px;
	margin-top: 5px;
	transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
    transform: rotate(-45deg) translate(-9px, 5px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px) ;
    transform: rotate(45deg) translate(-8px, -5px) ;
}

#content{
	transition:0.5s;
	right: 0px;
	transform: translateX(0px);
	position:relative;
	min-height:100%;
}

#content.shift{
	transform: translateX(-250px);
}

p.link{
	font-family: DINPro;
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 20px;
	cursor: pointer; 
	transition: 0.4s;
}

p.link:hover{
	color: rgb(220, 5, 10);
}

.typeline{
    -webkit-animation: blink 0.6s infinite;
    -moz-animation: blink 0.6s infinite;
    animation: blink 0.6s infinite;
	margin-left: 2px;
	color: rgb(230, 10, 12);
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.menuOffset{
	margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    #titleCard{
		width: 50%;
	}
	#menuButton{
		right: 30px;
	}
}

@media screen and (max-width: 800px) {
    #titleCard{
		width: 80%;
	}
	h2{
		font-size: 30px;
	}
	.info{
		font-size: 16px;
		margin: 2px 0px 2px 1px;
	}
	p{
		font-size: 15px;
		line-height: 24px;
	}
	.button1{
		font-size: 14px;
	}
	p.link{
		font-size: 18px;
		argin-bottom: 17px;
	}
}

@media screen and (max-width: 640px){
	#particles-js{
		display: none;
	}
	h2{
		font-size: 23px;
	}
	.info{
		font-size: 12px;
	}
	p{
		font-size: 10px;
		line-height: 18px;
	}
	p.link{
		font-size: 16px;
		argin-bottom: 15px;
	}
	#menuButton{
		width: 35px;
		height: 30px;
	}
	
	#titleCard{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none; 
	}

	.bar1, .bar2, .bar3{
		width: 25px;
		height: 4px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 4px) ;
		transform: rotate(-45deg) translate(-9px, 4px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -4px) ;
		transform: rotate(45deg) translate(-8px, -4px) ;
	}
}

@media screen and (max-width: 420px){
	#titleMenu{
		height: 30px;
	}
	.button1{
		padding-top: 9px;
		padding-bottom: 6px;
		height: 15px;
		font-size: 10px;
	}
	#menuButton{
		right: 18px;
		width: 25px;
		height: 20px;
	}


	.bar1, .bar2, .bar3{
		width: 15px;
		height: 3px;
		margin-top: 2px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-6px, 1px) ;
		transform: rotate(-45deg) translate(-6px, 1px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-6px, -1px) ;
		transform: rotate(45deg) translate(-6px, -1px) ;
	}
}
@media screen and (max-height: 350px) {
	#menuButton{
		top: 30px;
	}
	.menuOffset{
		margin-top : 30px;
	}
	#titleMenu{
		height: 30px;
	}
	.button1{
		padding-top: 9px;
		padding-bottom: 6px;
		height: 15px;
		font-size: 10px;
	}
	
	#menuButton{
		width: 35px;
		height: 30px;
		right: 50px;
	}
	
	.bar1, .bar2, .bar3{
		width: 25px;
		height: 4px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 4px) ;
		transform: rotate(-45deg) translate(-9px, 4px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -4px) ;
		transform: rotate(45deg) translate(-8px, -4px) ;
	}
}


#footer{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 8px;
	position:absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgb(32,32,32);
	margin: 0px;
	font-family: DINPro;
	color : white;
	border-top: 5px solid rgb(200, 10, 10);
}
#title{
	height: 100%;
	width: 100%;
}

#about{
	height:  95%;
	width: 70%;
	
	padding-top: 150px;
	padding-left: 15%;
	padding-right: 15%;
	
	position: absolute;
	top: 93%;
	background-color: black;
	-webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
	background-color: rgb(248,248,248);
}