/*
	Font Families are:
	DIN Pro:
		DINPro
		DINPro-Condensed
	Tisa Pro:
		tisaprobold
		tisaproitalicbold
		tisaproitalic
		tisapromedium
		tisaproitalicmedium
		tisaproregular
	Merriweather
*/
html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0px;
	color: rgb(32,32,32);
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
	height:100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-filter: blur(0.000001px);

	-webkit-backface-visibility: hidden;
	//-webkit-perspective: 1000;
	//will-change: transform;

	opacity: 1;
	-webkit-transition: all 0.6s; 
    transition: all 0.6s ;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(254,254,254);
}

::selection {
  background:rgb(240,150,150);
}
::-moz-selection {
  background: rgb(240,150,150);
}

body.fade, html.fade{
	opacity: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  outline: 1px solid slategrey;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1{
	font-size: 60px;
	font-family: DINPro;
	font-weight: 600;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
}

h2{
	font-size: 38px;
	font-family: DINPro;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(48,48,48);
	margin: 5px 0px 5px 0px;
}

h3{
	font-size: 32px;
	font-family: DINPro;
	font-weight: 600;
	margin: 5px 0px 5px 0px;
}

.underlined{
	margin-top: 20px;
}
.underlined::after{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(180,180,180);
	width: 85px;
	height: 1px;
	content: "";
	display: block;
}

p{
	font-size: 17px;
	font-family: Merriweather;
	line-height: 32px;
}

.info{
	font-family: tisaproregular;
	font-size: 20px;
	margin: 4px 0px 4px 1px;
	color: rgb(100,100,100);
}

#titleCard{
	width: 30.3%;
	position: absolute;
	left: 50%;
	top: 46%;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 40px;
	
    -moz-box-shadow: 0 0 60px #fff;
	-webkit-box-shadow: 0 0 60px #fff;
	box-shadow: 0px 0px 60px #fff;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 

	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translateZ(0) scale(1.0, 1.0) translate(-50%, -50%);
	transform: translateZ(0) scale(1.0, 1.0) translate(-50%, -50%);
	-webkit-perspective: 1000;
	-webkit-filter: blur(0);
}

.profile{
	width: 180px;
	height: 180px;
	background-image: url("../images/profile.jpg");
	background-size: cover;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 15px;
}

.info_container{
	width: 100%;
	display: block;
	font-family: Merriweather;
	font-size: 17px;
	line-height: 32px;
}

.info_container::after{
	content: "";
	clear: both;
	display: table;
}

.info_container + hr{
	margin: 0px;
}
.info_head{
	width: 220px;
	padding-right: 20px;
	float: left;
	clear: both;
	border-right: 1px solid rgb(190,190,190);
	padding-bottom: 30px;
}

.info_body{
	margin: 0px;
	padding: 0px;
	margin-left: 260px;
}


.card{
	width: 50%;
	padding: 10px 20px 10px 20px;
	margin:auto;
	padding-top: 125px;
	position: relative;
	-webkit-font-smoothing: antialiased;

}

#contact{
	padding: 20px 15px 20px 25px;
	transform: translateY(240px);
	-webkit-transform: translateY(240px);
	-moz-transform: translateY(240px);
	border: 5px solid rgb(40,40,40);
	background-color: white;
}

.contact_link{
	color: rgb(110,110,110);
	transition: 0.3s;
	-webkit-transition: 0.5s;
}
.contact_link:hover{
	color: rgb(230,5,10);
	cursor: pointer;
}

.contact_link > b{
	color: rgb(50,50,50);
	cursor: default;
}

.card > p{
	color: rgb(50,50,50);
}
.info_body > p{
	color: rgb(64,64,64);
}
hr{
	height: 2px;
	color: rgb(64,64,64);
	background: rgb(190,190,190);
	border: 0px;
	margin: 18px 0px 28px 0px;
}

#titleMenu{
	height: 50px;
	width: 100%;
	margin-top: 32px;
	background-color: rgb(48,48,48);
	border: 1px solid rgb(48,48,48);
}

.button1{
	margin: 0px;
	float: left;
	width: 33.3333%;
	padding-top: 15px;
	padding-bottom: 10px;
	height: 25px;
	text-align: center;
	color: white;
	font-family: DINPro;
	font-weight: 400;
	text-align: center;
	background-color: rgb(48,48,48);
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
	
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
	
	cursor: pointer;
}

.button1:hover{
	color: rgb(32,32,32);
	background-color: white;
}

#particles-js{ 
	position:absolute; 
	width: 100%; 
	height: 99%; 
	background-color: #ffffff; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
} 
 
 
#menuButton{
	width: 45px;
	height: 40px;
	position: fixed;
	right: 65px;
	top: 50px;
	cursor: pointer;
	z-index:9001;
	transition: right 0.3s;
}

#menuButton.change{
	right: 315px;
}
#menu{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	right: -250px;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	width: 250px;
	padding-left: 50px;
	height: 99.7%;
	background-color: rgb(254,254,254);
	transition: transform 0.3s;
	border-left: 1px solid rgb(200,200,200);
	top: 0px;
	position: fixed !important;
}

#menu.shift{
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}

.bar1, .bar2, .bar3{
	width: 35px;
	height: 5px;
	background-color: rgb(40,40,40);
	margin-left: 5px;
	margin-top: 5px;
	transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
    transform: rotate(-45deg) translate(-9px, 5px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px) ;
    transform: rotate(45deg) translate(-8px, -5px) ;
}


#content{
	transition:0.3s;
	right: 0px;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	position:relative;
	overflow-y: hidden;
	min-height:100%;
}

#content.shift{
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}

p.link{
	font-family: DINPro;
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 20px;
	cursor: pointer; 
	transition: 0.4s;
}

p.link:hover{
	color: rgb(220, 5, 10);
}

.menuFooter{
	position: absolute;
	bottom: 30px;
	color: rgb(120,120,120);
}

.menuFooter > p.link{
	font-size: 18px;
	margin-bottom: 14px;
	margin-top: 5px;
}

.typeline{
    -webkit-animation: blink 0.6s infinite;
    -moz-animation: blink 0.6s infinite;
    animation: blink 0.6s infinite;
	margin-left: 2px;
	color: rgb(230, 10, 12);
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.menuOffset{
	margin-top: 50px;
}

.fa{
	margin-right: 5px;
}

.project{
	padding: 20px 5px 15px 5px;
	border-bottom: 2px dotted rgb(200,200,200);
	margin-bottom: 15px;
}

.projectDescription{
	margin-top: 12px;
	font-size: 16px;
}
.projectLang{
	padding: 4px 1px 4px 1px;
	font-family: DINPro;
	font-size: 15px;
	font-weight: 400;
}

.projectLink{
	padding: 4px 1px 4px 1px;
	font-family: DINPro;
	font-size: 15px;
	font-weight: 500;
	transition: 0.3s;
	color: rgb(40,40,40);
}

.projectLink:hover{
	color: rgb(230,5,10);
	cursor: pointer;
}

.projectImage{
	height: 250px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	border-radius: 10px;

	border: 2px dotted rgb(64,64,64);
}

.projectCover{
	height: 130px;
	width: 100%;
	background-color: rgba(32,32,32,0.8);
	border-radius: 10px;
	margin-top: -254px;
	opacity: 0;
	border: 2px solid rgba(255,255,255,0.9);
	transition: opacity 0.5s;
	text-align: center;
	font-family: DINPro;
	color: white;
	text-transform: uppercase;
	padding-top: 120px;
}

.projectCover:hover{
	opacity: 1;
	cursor: pointer;
}

.projectTitle{
	font-size: 30px;
	font-family: DINPro;
	margin-bottom: 10px;
	margin-top: 25px;
	color: rgb(32,32,32);
	transition: 0.5s;
	font-weight: 500;
}

.projectTitle:hover{
	color: rgb(230,5,10);
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #titleCard{
		width: 50%;
	}
	#menuButton{
		right: 30px;
	}
	.card{
		width: 75%;
		padding-top: 110px;
	}
}

@media screen and (max-width: 800px) {
	.project{
		padding: 12px 5px 12px 5px;
	}
	.projectImage{
		height: 180px;
		background-size: cover;
	}
	.projectCover{
		height: 100px;
		padding-top: 80px;
		margin-top: -184px;
		font-size: 14px;
	}
	#contact{
		transform: translateY(75px);
		-webkit-transform: translateY(75px);
		-moz-transform: translateY(75px);
		border: none;
		background-color: rgb(254,254,254);
	}
	.profile{
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
	}
	.info_head{
		width: 100%;
		padding: 0px;
		padding-bottom: 10px;
		border-right: none;
	}

	.info_body{
		margin-left: 0px;
	}

	.underlined::after{
		margin-top: 10px;
		margin-bottom: 15px;
	}

	
	#titleCard{
		width: 80%;
	}
	.card{
		width: 82%;
		padding-top: 70px;
	}
	
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 28px;
	}
	
	.projectTitle{
		font-size: 26px;
		margin-bottom: 6px;
		margin-top: 20px;
	}
	.info{
		font-size: 16px;
		margin: 2px 0px 2px 1px;
	}
	p{
		font-size: 15px;
		line-height: 24px;
	}
	
	.projectLink, .projectLang{
		font-size: 13px;
	}
	
	.projectDescription{
		margin-top: 10px;
		font-size: 14px;
		line-height: 23px;
	}
	.info_container{
		font-size: 15px;
		line-height: 24px;
	}
	.button1{
		font-size: 14px;
	}
	p.link{
		font-size: 18px;
		argin-bottom: 17px;
	}
	
	.menuFooter > p.link{
		font-size: 15px;
		margin-bottom: 12px;
		margin-top: 4px;
	}
}

@media screen and (max-width: 640px){
	.project{
		padding: 9px 5px 9px 5px;
	}
	.projectImage{
		height: 140px;
		background-size: cover;
	}
	.projectCover{
		height: 75px;
		padding-top: 65px;
		margin-top: -144px;
		font-size: 10px;
	}
	.info_head{
		width: 100%;
		padding: 0px;
		padding-bottom: 10px;
	}
	.profile{
		height: 120px;
		width: 120px;
	}

	
	#particles-js{
		display: none;
	}
	h2{
		font-size: 23px;
	}
	h3{
		font-size: 20px;
	}
	.projectTitle{
		font-size: 18px;
		margin-bottom: 3px;
		margin-top: 15px;
	}
	.info{
		font-size: 12px;
	}
	p{
		font-size: 10px;
		line-height: 18px;
	}
	.projectLink, .projectLang{
		font-size: 9px;
	}
	.projectDescription{
		margin-top: 7px;
		font-size: 10px;
		line-height: 18px;
	}
	.info_container{
		font-size: 10px;
		line-height: 18px;
	}
	p.link{
		font-size: 16px;
		argin-bottom: 15px;
	}
	
	.menuFooter > p.link{
		font-size: 13px;
		margin-bottom: 10px;
		margin-top: 3px;
	}

	#menuButton{
		width: 35px;
		height: 30px;
	}
	
	#titleCard{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none; 
	}

	.bar1, .bar2, .bar3{
		width: 25px;
		height: 4px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 4px) ;
		transform: rotate(-45deg) translate(-9px, 4px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -4px) ;
		transform: rotate(45deg) translate(-8px, -4px) ;
	}
}

@media screen and (max-width: 420px){
	.info_head{
		width: 100%;
		padding: 0px;
		padding-bottom: 10px;
	}
	.profile{
		height: 100px;
		width: 100px;
	}

	#contact{
		transform: translateY(150px);
		-webkit-transform: translateY(150px);
		-moz-transform: translateY(150px);
	}
	
	#titleMenu{
		height: 30px;
	}
	.button1{
		padding-top: 9px;
		padding-bottom: 6px;
		height: 15px;
		font-size: 10px;
	}
	#menuButton{
		right: 18px;
		width: 25px;
		height: 20px;
	}


	#menuButton.change{
		right: 268px;
	}
	.bar1, .bar2, .bar3{
		width: 15px;
		height: 3px;
		margin-top: 2px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-6px, 1px) ;
		transform: rotate(-45deg) translate(-6px, 1px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-6px, -1px) ;
		transform: rotate(45deg) translate(-6px, -1px) ;
	}
	

}
@media screen and (max-height: 350px) {
	#menuButton{
		top: 30px;
	}
	.menuOffset{
		margin-top : 30px;
	}
	#titleMenu{
		height: 30px;
	}
	.button1{
		padding-top: 9px;
		padding-bottom: 6px;
		height: 15px;
		font-size: 10px;
	}
	
	#menuButton{
		width: 35px;
		height: 30px;
		right: 50px;
	}
	
	#menuButton.change{
		right: 300px;
	}

	.bar1, .bar2, .bar3{
		width: 25px;
		height: 4px;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 4px) ;
		transform: rotate(-45deg) translate(-9px, 4px) ;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -4px) ;
		transform: rotate(45deg) translate(-8px, -4px) ;
	}
	.menuFooter{
		bottom: 20px;
	}
}


#footer{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 8px;
	position:absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgb(32,32,32);
	margin: 0px;
	font-family: DINPro;
	color : white;
	border-top: 5px solid rgb(200, 10, 10);
}
#title{
	height: auto;
	width: 100%;
	overflow: visible;
}

#about{
	height:  95%;
	width: 70%;
	
	padding-top: 150px;
	padding-left: 15%;
	padding-right: 15%;
	
	position: absolute;
	top: 93%;
	background-color: black;
	-webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
	background-color: rgb(248,248,248);
}